body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--body_background);
  color: var(--body_color);
  transition: background-color 0.3s, color 0.3s;
}
a {
  color: var(--link_color);
  transition: color 0.3s;
}

html, body, #root, .App {
  background-color: var(--body_background);
  color: var(--body_color);
  transition: background-color 0.3s ease, color 0.3s ease;
  min-height: 100vh;
}






